.slides.template-default > article:not(.nobackground):not(.biglogo) {
  background: url(http://yungsang.github.com/images/yungsang135.jpg) 0px 0px no-repeat !important;
  background-color: white !important;
}

.slides > article {
  font-family: "Meiryo", "MS PGothic", "MS UI Gothic", "Hiragino Kaku Gothic Pro", Osaka, Verdana, Helvetica, Arial, sans-serif !important;
  font-size: 28px !important;
}

article h1 {
  margin-top: 240px;
  padding: 0;
  text-align: center;
  font-size: 58px;
}

section article h3 {
  margin-left: 60px;
  margin-bottom: 70px;
}
section.layout-faux-widescreen article h3 {
  margin-left: -40px;
  margin-bottom: 20px;
}

article h3::before {
  content: '＜ ';
}

ol.linenums li::before {
  content: '';
}
ol.linenums li {
  margin-bottom: 0;
}

section .source {
  left: auto !important;
  right: 0;
  padding-right: 60px !important;
}
section.layout-faux-widescreen .source {
  padding-right: 160px !important;
}

ul, dl {
  clear: both;
  margin: 5px 0 0 .75em !important;
}
dt {
  float: left;
  margin-bottom: 0.5em;
  width: 230px;
}
dt::before {
 content: '·';
 margin-left: -.75em;
 position: absolute;
}
dd {
  float: left;
  margin-left: 0;
  margin-bottom: 0.5em;
  width: 525px;
}

li.no-style::before {
  content: '';
}

pre * {
  font-family: 'Droid Sans Mono', 'Courier New', monospace !important;
}

pre.lang-sh, pre.lang-html {
  margin: 0;
}

article.fill img {
  width: 100% !important;
  height: 100% !important;
}
